@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Syne:wght@400..800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  color: #233142;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 상단 시작 위치에 맞추기 */
  gap: 2rem; /* 왼쪽과 오른쪽 간격 추가 */
}

header,
main {
  width: 100%;
  max-width: 800px;
}

li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #345678;
  margin-bottom: 0.5rem;
}

.intro {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.inputContainer,
.resultContainer {
  width: 100%;
}

textarea {
  font-size: 1.2rem;
  width: 100%;
  max-width: 800px;
  height: 200px;
  padding: 0.8rem;
  border: 3px solid #dde0ab;
  border-radius: 0.5rem;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #668ba4;
  box-shadow: 0px 0px 5px rgba(102, 139, 164, 0.5);
}

.btnContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

input[type="button"] {
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #668ba4;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #556781;
}

.instructions {
  text-align: left;
  max-width: 600px;
  color: #345678;
  font-size: 1rem;
  line-height: 1.5;
}

.instructions h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #345678;
  margin-bottom: 1rem;
  text-align: center;
}

.instructions ul {
  list-style-type: disc;
  margin-top: 1rem;
}

.instructions li {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.instructions p {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #233142;
  text-align: center;
}
